<div style="padding: 20px">
  <mat-form-field class="form-group">
    <input
      class="form-control"
      matInput
      [matDatepicker]="startPicker"
      placeholder="Start Date"
      [(ngModel)]="startDate"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="startPicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #startPicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="form-group">
    <input
      matInput
      class="form-control"
      [matDatepicker]="endPicker"
      placeholder="End Date"
      [(ngModel)]="endDate"
    />
    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
    <mat-datepicker #endPicker></mat-datepicker>
  </mat-form-field>

  <div class="actions">
    <button mat-button class="btn btn-danger" (click)="onCancel()">
      Cancel
    </button>

    <button
      mat-button
      class="btn btn-success"
      style="margin-left: 20px"
      (click)="onApply()"
    >
      Apply
    </button>
  </div>
</div>
